Source: ros-noetic-puma-motor-driver
Section: misc
Priority: optional
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-diagnostic-updater, ros-noetic-puma-motor-msgs, ros-noetic-roscpp, ros-noetic-roslaunch, ros-noetic-roslint, ros-noetic-sensor-msgs, ros-noetic-serial, ros-noetic-socketcan-interface
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-puma-motor-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, can-utils, ros-noetic-diagnostic-updater, ros-noetic-joy, ros-noetic-puma-motor-msgs, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-serial, ros-noetic-socketcan-interface
Description: A ROS driver for Puma single-channel motor control board.
