Source: ros-melodic-puma-motor-driver
Section: misc
Priority: optional
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-diagnostic-updater, ros-melodic-puma-motor-msgs, ros-melodic-roscpp, ros-melodic-roslaunch, ros-melodic-roslint, ros-melodic-sensor-msgs, ros-melodic-serial, ros-melodic-socketcan-interface
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-puma-motor-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, can-utils, ros-melodic-diagnostic-updater, ros-melodic-joy, ros-melodic-puma-motor-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-serial
Description: A ROS driver for Puma single-channel motor control board.
